#search-results {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6em;
}

#search-results h4 {
  flex-basis: 100%;
}

#result {
  text-align: center;
  flex-basis: 15%;
  margin: 2.5%;
}

#album {
  margin: 0 auto 20px;
  height: 100px;
  width: 100px;
}

#album:hover {
  
}

#track-link {
  margin-top: 120px;
}
